* {
  margin: 0;
  padding: 0;
  font-family: "Agrandir";
  font-weight: normal;
  box-sizing: border-box;
}

@font-face {
  font-family: "Agrandir";
  src: url(../fonts/Agrandir-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: white;
  width: 100%;
}

h1 {
  text-align: center;
  margin-top: 2%;
  color: #555555;
}

.margen {
  margin-top: 120px;
}

header .contenedorGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 15%;
  align-items: center;
  margin-left: 2%;
  row-gap: 4%;
}
header .imagen {
  border: 5px solid white;
  border-radius: 20px;
  width: 100%;
  height: auto;
}
header .video {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  padding: 1.5%;
  color: #555555;
}
header .contenedorPadre {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  color: #555555;
}
header .listaProductos {
  display: flex;
  flex-direction: column;
  padding-top: 8%;
}
header .subtituloProductos {
  margin-left: 5%;
}
header .contenedorProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 65%;
  margin-top: 8%;
  border-bottom: 10%;
  margin-right: 10%;
  padding: 8%;
  padding-top: 0;
}
header .imagenProductos {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border: 10px solid white;
  border-radius: 20px;
  object-fit: contain;
}
header .imagenArterapia {
  margin-top: 45%;
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 5%;
}
header .textoArterapia {
  margin-top: 25%;
  width: 100%;
  font-size: 1.2rem;
  color: #555555;
  background-color: #FBF4EA;
  border-radius: 10px;
  padding: 5px;
}

header .titulosProductos {
  color: #555555;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 130px;
  padding: 1rem;
}
header .titulosProductos h2 {
  font-size: 2rem;
}

.colorBtn {
  background-color: #FBF4EA;
  border-color: #FBF4EA;
  color: #FABC8D;
}

.colorBtn:hover {
  background-color: #FABC8D;
  color: #555555;
}

main .listaCuidados {
  background-color: #FBF4EA;
  margin-top: 25%;
  padding: 5%;
  border: white solid 2px;
  border-radius: 10px;
  color: #555555;
}
main .listaCuidados2 {
  background-color: #FBF4EA;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
  border: white solid 2px;
  border-radius: 10px;
  color: #555555;
}

/* Navbar con bootstrap */
.logo {
  width: 5rem;
}

nav {
  background-color: #FBF4EA;
  color: #FBF4EA;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-nav .nav-link {
  color: #FABC8D;
}

.nav-item {
  margin-right: 5rem;
}

.nav-item:last-child {
  margin-right: 0;
}

.fuentes li a:hover {
  color: #555555;
  background-color: antiquewhite;
  border-radius: 10px;
}

.fuentes {
  font-size: 1.1rem;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #fbf5e9;
  width: 100%;
  height: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: 2px solid white;
  color: #555555;
}
footer .contenedor {
  flex-direction: column;
  width: 33%;
  margin-left: 2%;
  justify-content: center;
  text-align: center;
}
footer .contenedor2 {
  display: inline-block;
  width: 30%;
  justify-content: center;
  text-align: center;
}
footer .footerInicio {
  grid-area: footer;
  height: 80%;
}

/* Vista smartphone */
@media (max-width: 500px) {
  * {
    margin: 0px;
    padding: 0px;
    font-family: "Agrandir";
    font-weight: normal;
    box-sizing: border-box;
  }
  /* Carrusel vista smartphone */
  .carrouselMargin {
    margin-top: 20% !important;
  }
  .listaCuidados {
    margin-top: 35%;
  }
  .logoArterapia {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  footer {
    display: none;
  }
  header .contenedorGrid {
    display: grid;
    width: 100%;
    margin-left: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 20%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
  }
  header .imagen {
    width: 100%;
  }
  header .video {
    display: none;
  }
  nav {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
/* Estilos responsive pagina Productos (350px a 640px) */
@media (max-width: 640px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
  .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media (min-width: 641px) and (max-width: 900px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-item {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
/* Estilos para vista de tablet (900px a 1200px) */
@media (min-width: 901px) and (max-width: 1500px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-item {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=estilo.css.map */
