header {

    
    .contenedorGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-top: 15%;
      align-items: center;
      margin-left: 2%;
      row-gap: 4%;
    }
    
    .imagen {
      @include estilo-imagen; 
    }
  
    .video {
      @include estilo-video; 
    }

    .contenedorPadre {
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
        color: $secondary-color;
      }
    
      .listaProductos {
        display: flex;
        flex-direction: column;
        padding-top: 8%;
      }
    
      .subtituloProductos {
        margin-left: 5%;
      }
    
      .contenedorProductos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 65%;
        margin-top: 8%;
        border-bottom: 10%;
        margin-right: 10%;
        padding: 8%;
        padding-top: 0;
      }
    
      .imagenProductos {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 200px;
        border: 10px solid white;
        border-radius: 20px;
        object-fit: contain;
      }

      .imagenArterapia {
        margin-top: 45%;
        width: 100%;
        border: 1px solid white;
        border-radius: 10px;
    }
    
    .textoArterapia {
        margin-top: 25%;
        width: 100%;
        font-size: 1.2rem;
        color: $secondary-color;
    }
    
  }