

header {
  .contenedorGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 15%;
    align-items: center;
    margin-left: 2%;
    row-gap: 4%;
  }
  
  .imagen {
    @include estilo-imagen; 
  }

  .video {
    @include estilo-video; 
  }
}
