header .titulosProductos {
    color: $secondary-color;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 130px;
    padding: 1rem;

    h2 {
        font-size: 2rem;
    }
    
}

.card {
    margin: 0.5rem;
}

