.listaProductos {
    display: flex;
    flex-direction: column;
    padding-top: 8%;
}

.subtituloProductos {
    margin-left: 5%;
}

.contenedorProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 65%;
    margin-top: 8%;
    border-bottom: 10%;
    margin-right: 10%;
    padding: 8%;
}

.imagenProductos {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: 10px solid white;
    border-radius: 20px;
}
