.imagenSobreArterapia {
    display: flex;
    flex-direction: row;
}

.imagenArterapia {
    margin-top: 45%;
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
}

.textoArterapia {
    margin-top: 25%;
    width: 100%;
    font-size: 1.2rem;
    color: #555555;
}